.register-container {
  padding: 20px;
}

h1 {
  color: var(--dark);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: darkgray;
}

.form-text {
  height: 132px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
}

button:disabled {
  background-color: var(--light);
  cursor: not-allowed;
  border-color: var(--light);
}
