<div class="container-fluid py-5">
  <div class="row">
    <!-- Column with contact information and map -->
    <div class="col-12 col-lg-6 mb-4 mb-lg-0">
      <p><strong>Propriétaires :</strong> Bernard et Laetitia</p>
      <p><strong>Adresse :</strong> 123 Rue de la Propreté, 69000 Lyon</p>
      <p><strong>Téléphone :</strong> 04 78 12 34 56</p>
      <p><strong>Email :</strong> info&#64;propre-propre.fr</p>

      <div class="mt-4">
<!--        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.092703600283!2d3.124164579587121!3d45.7580998656952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f71ecc42d76497%3A0xa9a1c9d7248ae956!2sHuman%20Booster!5e0!3m2!1sru!2sfr!4v1723976200826!5m2!1sru!2sfr"-->
<!--                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Localisation de Laverie Propre-Propre de Lyon"></iframe>-->
        <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" sandbox="allow-forms allow-scripts allow-same-origin" src="https://www.geoportail.gouv.fr/embed/visu.html?c=4.897116,45.757138&z=17&l0=TRANSPORTNETWORKS.ROADS::GEOPORTAIL:OGC:WMTS(1)&l1=TRANSPORTNETWORKS.RAILWAYS::GEOPORTAIL:OGC:WMTS(1)&l2=BUILDINGS.BUILDINGS::GEOPORTAIL:OGC:WMTS(1;g)&permalink=yes" allowfullscreen></iframe>
      </div>
    </div>

    <!-- Form column -->
    <div class="col-12 col-lg-6">
      <form #contactForm="ngForm" (ngSubmit)="sendEmail(contactForm)" class="bg-light p-4 rounded-3">
        <h2 class="text-primary-custom mb-4">Contactez-nous</h2>
        <div class="form-floating mb-3">
          <input type="text" id="name" name="name" class="form-control" placeholder="Votre prénom" required [(ngModel)]="formData.name">
          <label for="name">Prénom</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" id="email" name="email" class="form-control" placeholder="votre@email.com" required [(ngModel)]="formData.email">
          <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Votre numéro de téléphone" [(ngModel)]="formData.phoneNumber">
          <label for="phoneNumber">Numéro de téléphone</label>
        </div>
        <div class="form-floating mb-3">
          <textarea id="message" name="message" class="form-control" placeholder="Votre message" style="height: 150px" required [(ngModel)]="formData.message"></textarea>
          <label for="message">Message</label>
        </div>
        <button type="submit" class="btn btn-secondary-custom w-100" [disabled]="isSending">
          {{ isSending ? 'En cours...' : 'Envoyer' }}
        </button>
      </form>
    </div>
  </div>
</div>
