:root {
  --primary: #5857D8;
  --primary-rgb: 88, 87, 216;
  --secondary: #CEDD2A;
  --secondary-rgb: 206, 221, 42;
  --dark: #212121;
  --dark-rgb: 33, 33, 33;
  /*--light: #D9D9D9;*/
  --light: #F4F4F4;
}

.bg-primary-custom {
  background-color: var(--primary);
}

.bg-secondary-custom {
  background-color: var(--secondary);
}

.text-primary-custom {
  color: var(--primary);
}

.text-secondary-custom {
  color: var(--secondary);
}

.btn-primary-custom {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.btn-primary-custom:hover {
  background-color: rgba(var(--primary-rgb), 0.8);
  border-color: rgba(var(--primary-rgb), 0.8);
  color: white;
  /*font-weight: bolder;*/
}

.btn-secondary-custom {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--dark);
  font-weight: bold;
  transition: all 0.3s ease;
  border-radius: 25px;
}

.btn-secondary-custom:hover {
  background-color: rgba(var(--secondary-rgb), 0.8);
}

body {
  padding-top: 80px;
}

.nav-link {
  color: var(--primary);
 }

/* SWITCHES */
.form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}
.form-check-input:not(:disabled):not(:checked):hover,
.form-check-input:not(:disabled):not(:checked):focus {
  border-color: var(--primary);
}

/* ALERTS */
.alert-primary-custom {
  color: var(--dark);
  background-color: #e8e8f9;
  border-color: #d4d4f5;
}

.alert-primary-custom hr {
  border-top-color: #bfbff1;
}

.alert-primary-custom .alert-link {
  color: var(--primary);
}

.bg-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
