.hero-section {
  overflow: hidden;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.1rem;
  color: var(--dark);
}

.hero-section img {
  z-index: 2;
}

.benefits-section {
  background: var(--light);
}
.benefits-section img {
  height: 150px;
}

.faq-section {
  background: var(--light);
}
.accordion-button {
  font-weight: bolder;
}
.accordion-button:not(.collapsed) {
  color: var(--primary);
  background-color: rgba(var(--primary-rgb), 0.1);
}

@media (max-width: 767px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }
}

/** { outline: 1px solid red; }*/
